<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="initializeYoutubePlayerPluginWeb()"
    >initializeYoutubePlayerPluginWeb</ion-button
  >

  <ion-button (click)="destroyYoutubePlayerPluginWeb()"
    >destroyYoutubePlayerPluginWeb</ion-button
  >

  <ion-button (click)="initializeYoutubePlayerPluginNative()"
    >initializeYoutubePlayerPluginNative</ion-button
  >
  <ion-item>
    <!-- The <iframe> (and video player) will replace this <div> tag. -->
    <div id="youtube-player"></div>
  </ion-item>

  <div id="container">
    <h1>6!</h1>
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
